<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>testViewController</string>
		<key>selName</key>
		<string>getTestViewController:</string>
		<key>parameter</key>
		<dict>
			<key>key</key>
			<string>0</string>
		</dict>
		<key>tabName</key>
		<string>首页</string>
		<key>tabNameKey</key>
		<string>home</string>
		<key>rank</key>
		<string>0</string>
		<key>imgNormal</key>
		<string>GW_TabBar_HomePage.png</string>
		<key>imgSelected</key>
		<string>GW_TabBar_HomePage_Focus.png</string>
	</dict>
	<dict>
		<key>className</key>
		<string>MainQuotationListViewController</string>
		<key>selName</key>
		<string>getViewController</string>
		<key>parameter</key>
		<dict>
			<key>key</key>
			<string>1</string>
		</dict>
		<key>tabName</key>
		<string>自选</string>
		<key>tabNameKey</key>
		<string>selfChose</string>
		<key>rank</key>
		<string>1</string>
		<key>imgNormal</key>
		<string>GW_TabBar_Quotation.png</string>
		<key>imgSelected</key>
		<string>GW_TabBar_Quotation_Focus.png</string>
	</dict>
	<dict>
		<key>className</key>
		<string>TradePositionListViewController</string>
		<key>selName</key>
		<string>getViewController</string>
		<key>parameter</key>
		<dict>
			<key>key</key>
			<string>2</string>
		</dict>
		<key>tabName</key>
		<string>交易</string>
		<key>tabNameKey</key>
		<string>trade</string>
		<key>rank</key>
		<string>2</string>
		<key>imgNormal</key>
		<string>GW_TabBar_Transaction.png</string>
		<key>imgSelected</key>
		<string>GW_TabBar_Transaction_Focus.png</string>
	</dict>
	<dict>
		<key>className</key>
		<string>testViewController</string>
		<key>selName</key>
		<string>getTestViewController:</string>
		<key>parameter</key>
		<dict>
			<key>key</key>
			<string>3</string>
		</dict>
		<key>tabName</key>
		<string>直播</string>
		<key>tabNameKey</key>
		<string>live</string>
		<key>rank</key>
		<string>3</string>
		<key>imgNormal</key>
		<string>GW_TabBar_Live.png</string>
		<key>imgSelected</key>
		<string>GW_TabBar_Live_Focus.png</string>
	</dict>
	<dict>
		<key>className</key>
		<string>GWMMHomeViewController</string>
		<key>selName</key>
		<string>GWMMStartupViewController</string>
		<key>parameter</key>
		<dict>
			<key>key</key>
			<string>3</string>
		</dict>
		<key>tabName</key>
		<string>我的</string>
		<key>tabNameKey</key>
		<string>mine</string>
		<key>rank</key>
		<string>4</string>
		<key>imgNormal</key>
		<string>GW_TabBar_Me.png</string>
		<key>imgSelected</key>
		<string>GW_TabBar_Me_Focus.png</string>
	</dict>
</array>
</plist>
